In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('vegetables .csv')
df

,warzywo,świeże,mrożone,ostre,słodkie,zielone,czerwone,lokalne,tropikalne,liściaste,bulwowe
0,brokuły,1,0,0,0,1,0,1,0,1,0
1,marchewka,1,1,0,1,0,0,1,0,1,1
2,papryka,1,0,1,0,0,1,1,0,0,0
3,ziemniaki,0,0,0,1,0,0,1,0,0,1
4,kapusta,1,0,0,0,1,0,1,0,1,0
5,kalafior,1,0,0,0,1,0,1,0,1,0
6,ogórek,1,0,0,0,1,0,1,0,1,0
7,cebula,1,0,0,0,0,0,1,0,0,0
8,pomidor,1,0,0,1,0,1,1,0,0,0

In [3]:
a = {'mrożone':1,'zielone':1,'słodkie':1,'liściaste':1}
b = {'świeże':0.2,'ostre':0.5,'czerwone':0.6}
c = {'świeże':0.4,'zielone':1,'czerwone':0.1,'słodkie':0.9}

In [4]:
def soft_set(set):
    df['sum'] = 0
    for x,y in set.items():
        df['sum'] += df[x] * y
    max_item = df['sum'].max()
    return df[df['sum'] == max_item]['warzywo']

Reccomandations based on given features

In [5]:
soft_set(a)

1    marchewka
Name: warzywo, dtype: object

In [6]:
soft_set(b)

2    papryka
Name: warzywo, dtype: object

In [7]:
soft_set(c)

0     brokuły
4     kapusta
5    kalafior
6      ogórek
8     pomidor
Name: warzywo, dtype: object