In [11]:
from utils import Utils,np,pd
from Knn import Knn

In [12]:
df = pd.read_csv('iris.csv')

In [19]:
df

     sepal.length  sepal.width  petal.length  petal.width     variety
0        0.583333     0.458333      0.762712     0.708333   Virginica
1        0.527778     0.333333      0.644068     0.708333   Virginica
2        0.444444     0.416667      0.542373     0.583333  Versicolor
3        0.222222     0.750000      0.152542     0.125000      Setosa
4        0.027778     0.375000      0.067797     0.041667      Setosa
..            ...          ...           ...          ...         ...
145      0.722222     0.458333      0.661017     0.583333  Versicolor
146      0.416667     0.833333      0.033898     0.041667      Setosa
147      0.250000     0.291667      0.491525     0.541667  Versicolor
148      0.777778     0.416667      0.830508     0.833333   Virginica
149      0.444444     0.416667      0.694915     0.708333   Virginica

[150 rows x 5 columns]

In [45]:
df = Utils.normalize(df)
df = Utils.shuffle(df)
train,test = Utils.split(df,0.7)

In [46]:
knn_model = Knn()

In [47]:
knn_model.fit(train)

In [48]:
pred = knn_model.predict(test)

In [49]:
print(f"accuracy of model {knn_model.accuracy(test,pred)} %")

accuracy of model 91.11111111111111 %